{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h2 class="text-center">Add Video</h2>
    <form method="post">
        {% csrf_token %}
        {% load widget_tweaks %}
        
        {% for field in form %}
            <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
                {{ field.errors }}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
            </div>
        {% endfor %}


        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <br>
    <h3>Or...</h3>
    <form>
        {{ search_form }}
    </form>
</div>
{% endblock %}